* {
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #ff6d12;
}

.name {
  width: 100vw;
  height: 70vw;
  background: linear-gradient(180deg,rgba(255, 0, 0, 1) 70%, transparent 100%);
  font-size: 18vw;
  padding-top: 7vw;
  line-height: .63;
  overflow: hidden;
  text-transform: uppercase;
}

.selwork {
  margin-top: 8vw;
  line-height: 120%;
  font-size: 9vw;
  margin-left: -15;
}

h1 {
  color: white;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.firstname {
  text-align: left;
  margin-left: -25;
}

.lastname {
  text-align: right;
  margin-right: -25;
}

.navbar {
  background-color: red;
  width: 100vw;
  height: 7vw;
  margin: -30vw 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: white;
}

.thermalbg {
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    radial-gradient(at 20% 30%, red 0px, transparent 50%),
    radial-gradient(at 80% 20%, orange 0px, transparent 50%),
    radial-gradient(at 30% 80%, blue 0px, transparent 50%),
    radial-gradient(at 70% 75%, #2aff12 0px, transparent 50%),
    radial-gradient(at 50% 50%, yellow 0px, transparent 60%),
    red;
  filter: blur(80px) contrast(150%) saturate(130%);
  animation: thermalMove 5s ease-in-out infinite alternate,
            thermalZoom 5s ease-in-out infinite alternate;
}

@keyframes thermalMove {
  0% {
    background-position:
      0% 0%,
      100% 0%,
      0% 100%,
      100% 100%;
  }
  100% {
    background-position:
      100% 100%,
      0% 100%,
      100% 0%,
      0% 0%;
  }
}

@keyframes thermalZoom {
  0%   { transform: scale(1); }
  50% { transform: scale(1.2); }
  100%   { transform: scale(1); }
}

.slider {
  width: 70%;
  object-fit: cover;
  position: relative;
  left: 39vw;
  margin-top: -10.7vw;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: .75vw;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  object-fit: cover;
}

.about {
  margin-top: 8vw;
  line-height: 120%;
  font-size: 9vw;
  text-align: right;
  position: relative;
  right: -10px;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.abouttext {
  font-size: 2.2vw;
  position: relative;
  padding-right: 37vw;
  text-align: justify;
  top: -12vw;
}

.line {
  min-width: 50vw;
  height: 0.2vw;
  background-color: white;
  transform: translate(50%, 0%);
  position: relative;
   display: flex;
}

.line::before {
  content: "";
  height: 1vw;
  width: 1vw;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -200%;
}

.line::after {
  content: "";
  height: 1vw;
  width: 1vw;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -200%;
  left: 50vw;
}

.firstline {
  position: absolute;
  top: 12vw;
  right: -8.5vw;

}

.secondline {
  position: absolute;
  right: 95vw;
  top: 35vw;
}

.bottomline {
  scale: 150%;
  margin-top: 2vw;
  display: flex;
  justify-content: left;
}

.footer {
  text-transform: uppercase;
  font-size: 1.5vw;
  width: 100vw;
  height: 25vw;
  background: red;
  padding: 3vw;
  box-sizing: border-box;
  position: relative;
}

.email {
  display: flex;
  justify-content: right;
}

.footernav {
  display: flex;
  justify-content: right;
}